<main class="main">
  <div class="w-full sm:max-w-2xl space-y-22">
    <header class="space-y-1 text-left">
      <h1 class="text-4xl font-bold tracking-tight">Better Drawer</h1>
    </header>

    <div class="grid gap-6">
      <div class="space-y-2">
        <h2 class="text-lg font-semibold tracking-tight">Direction</h2>
        <p class="text-sm text-zinc-700 dark:text-zinc-300">
          You can customize the direction of the drawer you want to render.
        </p>
      </div>
      <div class="grid sm:grid-cols-2 lg:flex flex-wrap gap-2">
        <app-my-drawer />

        <div bdDrawerRoot class="contents" [(open)]="leftOpen" direction="left">
          <button type="button" bdDrawerTrigger class="btn">From left</button>
          @if (leftOpen()) {
            <div bdDrawerOverlay class="bg-black/50"></div>
            <aside
              bdDrawerContent
              class="bg-zinc-50 dark:bg-zinc-900 fixed top-0 bottom-0 left-0 rounded-tr-xl rounded-br-xl border-r border-zinc-200/50 dark:border-zinc-800/50 outline-none"
            >
              <button bdDrawerCloseButton></button>
              <div class="p-4 grid gap-4 max-w-lg">
                <h2 bdDrawerTitle class="text-2xl font-bold text-zinc-950 dark:text-white">
                  Left Drawer
                </h2>
                <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam eaque,
                  sapiente omnis voluptas incidunt officiis pariatur explicabo ipsum, illo voluptate
                  quas distinctio blanditiis corrupti. Ipsa minima velit nam illo.
                </p>
              </div>
            </aside>
          }
        </div>

        <div bdDrawerRoot class="contents" [(open)]="rightOpen" direction="right">
          <button type="button" bdDrawerTrigger class="btn">From right</button>
          <ng-template bdDrawerPortal>
            @if (rightOpen()) {
              <div bdDrawerOverlay class="bg-black/50"></div>
              <aside
                bdDrawerContent
                class="bg-zinc-50 dark:bg-zinc-900 overflow-y-auto fixed top-0 bottom-0 right-0 rounded-tl-xl rounded-bl-xl border-l border-zinc-200/50 dark:border-zinc-800/50 outline-none"
              >
                <button bdDrawerCloseButton></button>
                <div class="p-4 grid gap-4 max-w-sm">
                  <h2 bdDrawerTitle class="text-2xl font-bold text-zinc-950 dark:text-white">
                    Right Drawer
                  </h2>
                  <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam eaque,
                    sapiente omnis voluptas incidunt officiis pariatur explicabo ipsum, illo
                    voluptate quas distinctio blanditiis corrupti. Ipsa minima velit nam illo.
                  </p>
                  <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam eaque,
                    sapiente omnis voluptas incidunt officiis pariatur explicabo ipsum, illo
                    voluptate quas distinctio blanditiis corrupti. Ipsa minima velit nam illo.
                  </p>
                  <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam eaque,
                    sapiente omnis voluptas incidunt officiis pariatur explicabo ipsum, illo
                    voluptate quas distinctio blanditiis corrupti. Ipsa minima velit nam illo.
                  </p>
                  <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam eaque,
                    sapiente omnis voluptas incidunt officiis pariatur explicabo ipsum, illo
                    voluptate quas distinctio blanditiis corrupti. Ipsa minima velit nam illo.
                  </p>
                  <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam eaque,
                    sapiente omnis voluptas incidunt officiis pariatur explicabo ipsum, illo
                    voluptate quas distinctio blanditiis corrupti. Ipsa minima velit nam illo.
                  </p>
                  <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam eaque,
                    sapiente omnis voluptas incidunt officiis pariatur explicabo ipsum, illo
                    voluptate quas distinctio blanditiis corrupti. Ipsa minima velit nam illo.
                  </p>
                  <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam eaque,
                    sapiente omnis voluptas incidunt officiis pariatur explicabo ipsum, illo
                    voluptate quas distinctio blanditiis corrupti. Ipsa minima velit nam illo.
                  </p>
                  <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam eaque,
                    sapiente omnis voluptas incidunt officiis pariatur explicabo ipsum, illo
                    voluptate quas distinctio blanditiis corrupti. Ipsa minima velit nam illo.
                  </p>
                  <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam eaque,
                    sapiente omnis voluptas incidunt officiis pariatur explicabo ipsum, illo
                    voluptate quas distinctio blanditiis corrupti. Ipsa minima velit nam illo.
                  </p>
                  <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam eaque,
                    sapiente omnis voluptas incidunt officiis pariatur explicabo ipsum, illo
                    voluptate quas distinctio blanditiis corrupti. Ipsa minima velit nam illo.
                  </p>
                  <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam eaque,
                    sapiente omnis voluptas incidunt officiis pariatur explicabo ipsum, illo
                    voluptate quas distinctio blanditiis corrupti. Ipsa minima velit nam illo.
                  </p>
                  <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam eaque,
                    sapiente omnis voluptas incidunt officiis pariatur explicabo ipsum, illo
                    voluptate quas distinctio blanditiis corrupti. Ipsa minima velit nam illo.
                  </p>
                  <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam eaque,
                    sapiente omnis voluptas incidunt officiis pariatur explicabo ipsum, illo
                    voluptate quas distinctio blanditiis corrupti. Ipsa minima velit nam illo.
                  </p>
                </div>
              </aside>
            }
          </ng-template>
        </div>

        <div bdDrawerRoot class="contents" [(open)]="topOpen" direction="top">
          <button type="button" bdDrawerTrigger class="btn">From top</button>
          @if (topOpen()) {
            <div bdDrawerOverlay class="bg-black/50"></div>
            <div
              bdDrawerContent
              class="bg-zinc-50 dark:bg-zinc-900 fixed top-0 left-0 right-0 rounded-b-xl border-b border-zinc-200/50 dark:border-zinc-800/50 outline-none"
            >
              <div class="p-4 grid gap-4 max-w-lg overflow-y-auto mx-auto">
                <h2 bdDrawerTitle class="text-2xl font-bold text-zinc-950 dark:text-white">
                  Top Drawer
                </h2>
                <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam eaque,
                  sapiente omnis voluptas incidunt officiis pariatur explicabo ipsum, illo voluptate
                  quas distinctio blanditiis corrupti. Ipsa minima velit nam illo.
                </p>
              </div>
            </div>
          }
        </div>

        <div bdDrawerRoot class="contents" [(open)]="bottomOpen" direction="bottom">
          <button type="button" bdDrawerTrigger class="btn">From bottom</button>
          @if (bottomOpen()) {
            <div bdDrawerOverlay class="bg-black/50"></div>
            <div
              bdDrawerContent
              class="bg-zinc-50 dark:bg-zinc-900 fixed bottom-0 left-0 right-0 rounded-t-xl border-t border-zinc-200/50 dark:border-zinc-800/50 outline-none"
            >
              <div class="p-4 flex-1 overflow-y-auto">
                <div class="space-y-4 max-w-lg mx-auto">
                  <h2 bdDrawerTitle class="text-2xl font-bold text-zinc-950 dark:text-white">
                    Bottom Drawer
                  </h2>
                  <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam eaque,
                    sapiente omnis voluptas incidunt officiis pariatur explicabo ipsum, illo
                    voluptate quas distinctio blanditiis corrupti. Ipsa minima velit nam illo.
                  </p>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>

    <div class="grid gap-6">
      <div class="space-y-2">
        <h2 class="text-lg font-semibold tracking-tight">Nested drawers</h2>
        <p class="text-sm text-zinc-700 dark:text-zinc-300">
          Each outer drawer uses the same edge direction as its nested child. Inner stack sits above
          with a higher z-index; swipe and Escape target the innermost panel first.
        </p>
      </div>
      <div class="grid sm:grid-cols-2 lg:flex flex-wrap gap-2">
        <div bdDrawerRoot class="contents" [(open)]="nestedLeftOuterOpen" direction="left">
          <button type="button" bdDrawerTrigger class="btn">Nested left</button>
          @if (nestedLeftOuterOpen()) {
            <div bdDrawerOverlay class="bg-black/50"></div>
            <aside
              bdDrawerContent
              class="bg-zinc-50 dark:bg-zinc-900 fixed top-0 bottom-0 left-0 rounded-tr-xl rounded-br-xl border-r border-zinc-200/50 dark:border-zinc-800/50 outline-none"
            >
              <div class="p-4 grid gap-4 max-w-lg">
                <h2 bdDrawerTitle class="text-2xl font-bold text-zinc-950 dark:text-white">
                  Outer from left
                </h2>
                <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                  Open the inner drawer to stack another panel from the left.
                </p>
                <div bdDrawerRoot class="contents" [(open)]="nestedLeftInnerOpen" direction="left">
                  <button type="button" bdDrawerTrigger class="btn">Open inner from left</button>
                  @if (nestedLeftInnerOpen()) {
                    <div bdDrawerOverlay class="bg-black/50"></div>
                    <aside
                      bdDrawerContent
                      class="bg-zinc-50 dark:bg-zinc-900 fixed top-0 bottom-0 left-0 max-w-[min(100%,22rem)] rounded-tr-xl rounded-br-xl border-r border-zinc-200/50 dark:border-zinc-800/50 shadow-xl outline-none"
                    >
                      <div class="p-4 grid gap-4">
                        <h2 bdDrawerTitle class="text-2xl font-bold text-zinc-950 dark:text-white">
                          Inner from left
                        </h2>
                        <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                          Swipe or Escape closes this sheet before the outer left drawer.
                        </p>
                      </div>
                    </aside>
                  }
                </div>
              </div>
            </aside>
          }
        </div>

        <div bdDrawerRoot class="contents" [(open)]="nestedRightOuterOpen" direction="right">
          <button type="button" bdDrawerTrigger class="btn">Nested right</button>
          @if (nestedRightOuterOpen()) {
            <div bdDrawerOverlay class="bg-black/50"></div>
            <aside
              bdDrawerContent
              class="bg-zinc-50 dark:bg-zinc-900 fixed top-0 bottom-0 right-0 rounded-tl-xl rounded-bl-xl border-l border-zinc-200/50 dark:border-zinc-800/50 outline-none"
            >
              <div class="p-4 grid gap-4 max-w-lg">
                <h2 bdDrawerTitle class="text-2xl font-bold text-zinc-950 dark:text-white">
                  Outer from right
                </h2>
                <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                  Open the inner drawer to stack another panel from the right.
                </p>
                <div
                  bdDrawerRoot
                  class="contents"
                  [(open)]="nestedRightInnerOpen"
                  direction="right"
                >
                  <button type="button" bdDrawerTrigger class="btn">Open inner from right</button>
                  @if (nestedRightInnerOpen()) {
                    <div bdDrawerOverlay class="bg-black/50"></div>
                    <aside
                      bdDrawerContent
                      class="bg-zinc-50 dark:bg-zinc-900 fixed top-0 bottom-0 right-0 max-w-[min(100%,22rem)] rounded-tl-xl rounded-bl-xl border-l border-zinc-200/50 dark:border-zinc-800/50 shadow-xl outline-none"
                    >
                      <div class="p-4 grid gap-4">
                        <h2 bdDrawerTitle class="text-2xl font-bold text-zinc-950 dark:text-white">
                          Inner from right
                        </h2>
                        <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                          Swipe or Escape closes this sheet before the outer right drawer.
                        </p>
                      </div>
                    </aside>
                  }
                </div>
              </div>
            </aside>
          }
        </div>

        <div bdDrawerRoot class="contents" [(open)]="nestedTopOuterOpen" direction="top">
          <button type="button" bdDrawerTrigger class="btn">Nested top</button>
          @if (nestedTopOuterOpen()) {
            <div bdDrawerOverlay class="bg-black/50"></div>
            <div
              bdDrawerContent
              class="bg-zinc-50 dark:bg-zinc-900 fixed top-0 left-0 right-0 rounded-b-xl border-b border-zinc-200/50 dark:border-zinc-800/50 outline-none"
            >
              <div class="p-4 grid gap-4 max-w-lg mx-auto">
                <h2 bdDrawerTitle class="text-2xl font-bold text-zinc-950 dark:text-white">
                  Outer from top
                </h2>
                <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                  Open the inner drawer to stack another panel from the top.
                </p>
                <div bdDrawerRoot class="contents" [(open)]="nestedTopInnerOpen" direction="top">
                  <button type="button" bdDrawerTrigger class="btn">Open inner from top</button>
                  @if (nestedTopInnerOpen()) {
                    <div bdDrawerOverlay class="bg-black/50"></div>
                    <div
                      bdDrawerContent
                      class="bg-zinc-50 dark:bg-zinc-900 fixed top-0 left-0 right-0 rounded-b-xl border-b border-zinc-200/50 dark:border-zinc-800/50 shadow-xl outline-none"
                    >
                      <div class="p-4 grid gap-4 max-w-lg mx-auto">
                        <h2 bdDrawerTitle class="text-2xl font-bold text-zinc-950 dark:text-white">
                          Inner from top
                        </h2>
                        <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                          Swipe or Escape closes this sheet before the outer top drawer.
                        </p>
                      </div>
                    </div>
                  }
                </div>
              </div>
            </div>
          }
        </div>

        <div bdDrawerRoot class="contents" [(open)]="nestedBottomOuterOpen" direction="bottom">
          <button type="button" bdDrawerTrigger class="btn">Nested bottom</button>
          @if (nestedBottomOuterOpen()) {
            <div bdDrawerOverlay class="bg-black/50"></div>
            <div
              bdDrawerContent
              class="bg-zinc-50 dark:bg-zinc-900 fixed bottom-0 left-0 right-0 rounded-t-xl border-t border-zinc-200/50 dark:border-zinc-800/50 outline-none"
            >
              <div class="p-4 grid gap-4 max-w-lg overflow-y-auto mx-auto">
                <h2 bdDrawerTitle class="text-2xl font-bold text-zinc-950 dark:text-white">
                  Outer from bottom
                </h2>
                <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                  Open the inner drawer to stack another panel from the bottom.
                </p>
                <div
                  bdDrawerRoot
                  class="contents"
                  [(open)]="nestedBottomInnerOpen"
                  direction="bottom"
                >
                  <button type="button" bdDrawerTrigger class="btn">Open inner from bottom</button>
                  @if (nestedBottomInnerOpen()) {
                    <div bdDrawerOverlay class="bg-black/50"></div>
                    <div
                      bdDrawerContent
                      class="bg-zinc-50 dark:bg-zinc-900 fixed bottom-0 left-0 right-0 max-h-[min(70dvh,20rem)] rounded-t-xl border-t border-zinc-200/50 dark:border-zinc-800/50 shadow-xl overflow-y-auto outline-none"
                    >
                      <div class="p-4 grid gap-4 max-w-lg mx-auto">
                        <h2 bdDrawerTitle class="text-2xl font-bold text-zinc-950 dark:text-white">
                          Inner from bottom
                        </h2>
                        <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                          Swipe or Escape closes this sheet before the outer bottom drawer.
                        </p>
                      </div>
                    </div>
                  }
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>

    <div class="grid gap-6">
      <div class="space-y-2">
        <h2 class="text-lg font-semibold tracking-tight">Other</h2>
        <p class="text-sm text-zinc-700 dark:text-zinc-300">Other features of the drawer.</p>
      </div>

      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-2">
        <div
          bdDrawerRoot
          class="contents"
          [(open)]="nonDismissibleOpen"
          direction="bottom"
          [dismissible]="false"
        >
          <button type="button" bdDrawerTrigger class="btn">Non-dismissible</button>
          @if (nonDismissibleOpen()) {
            <div bdDrawerOverlay class="bg-black/40"></div>
            <div
              bdDrawerContent
              class="bg-zinc-50 dark:bg-zinc-900 fixed bottom-0 left-0 right-0 rounded-t-xl shadow-lg shadow-black/5 ring-1 ring-black/5 dark:ring-white/10 h-fit outline-none"
            >
              <div class="p-4 grid gap-4 max-w-lg mx-auto">
                <h2 bdDrawerTitle class="text-xl font-semibold text-zinc-950 dark:text-white">
                  A non-dismissible drawer
                </h2>
                <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                  For cases where your drawer has to be always visible.<br /><br />
                  Nothing will close it unless you make it controlled and close it programmatically.
                </p>
                <button type="button" class="btn" (click)="nonDismissibleOpen.set(false)">
                  Close drawer
                </button>
              </div>
            </div>
          }
        </div>

        <div
          bdDrawerRoot
          class="contents"
          [(open)]="nonModalOpen"
          direction="bottom"
          [modal]="false"
        >
          <button type="button" bdDrawerTrigger class="btn">Non-modal</button>
          @if (nonModalOpen()) {
            <div bdDrawerOverlay class="bg-black/50"></div>
            <div
              bdDrawerContent
              class="bg-zinc-100 dark:bg-zinc-950 fixed bottom-0 left-0 right-0 rounded-t-xl shadow-lg shadow-black/5 ring-1 ring-black/10 dark:ring-white/5 h-[280px] outline-none"
            >
              <div class="p-4 grid gap-4 max-w-lg mx-auto">
                <h2 bdDrawerTitle class="text-xl font-semibold text-zinc-950 dark:text-white">
                  A non-modal drawer
                </h2>
                <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                  The default behavior for the drawer is to restrict interactions to the dialog
                  itself. This means that you can't interact with other content on the page.<br /><br />But
                  sometimes you want to allow those interactions. Setting `modal` to `false` will
                  let you scroll the page, click on other elements, etc.
                </p>
              </div>
            </div>
          }
        </div>

        <div bdDrawerRoot class="contents" [(open)]="formDrawerOpen" direction="bottom">
          <button type="button" bdDrawerTrigger class="btn">Form inputs</button>
          @if (formDrawerOpen()) {
            <div bdDrawerOverlay class="bg-black/50"></div>
            <aside
              bdDrawerContent
              class="bg-zinc-50 dark:bg-zinc-900 fixed bottom-0 left-0 right-0 rounded-t-xl shadow-lg shadow-black/5 ring-1 ring-black/5 dark:ring-white/10 w-full overflow-y-auto outline-none"
            >
              <div class="p-4 grid gap-6 max-w-lg mx-auto overflow-auto">
                <h2 bdDrawerTitle class="text-2xl font-bold text-zinc-950 dark:text-white">
                  Edit profile
                </h2>
                <p class="text-sm text-zinc-600 dark:text-zinc-400 text-pretty">
                  Typical fields inside a drawer: focus order, scrolling, and closing behavior
                  should still feel natural.
                </p>
                <form class="grid gap-4" (submit)="$event.preventDefault()">
                  <div class="grid gap-1.5">
                    <label
                      for="demo-name"
                      class="text-sm font-medium text-zinc-900 dark:text-zinc-100"
                    >
                      Name
                    </label>
                    <input
                      id="demo-name"
                      name="name"
                      type="text"
                      autocomplete="name"
                      placeholder="Ada Lovelace"
                      class="rounded-lg border border-zinc-300 bg-white px-3 py-2 text-base text-zinc-950 shadow-sm outline-none ring-zinc-400 placeholder:text-zinc-400 focus:border-zinc-400 focus:ring-2 md:text-sm dark:border-zinc-700 dark:bg-zinc-950 dark:text-zinc-50 dark:placeholder:text-zinc-500 dark:focus:border-zinc-500 dark:focus:ring-zinc-600"
                    />
                  </div>
                  <div class="grid gap-1.5">
                    <label
                      for="demo-email"
                      class="text-sm font-medium text-zinc-900 dark:text-zinc-100"
                    >
                      Email
                    </label>
                    <input
                      id="demo-email"
                      name="email"
                      type="email"
                      autocomplete="email"
                      placeholder="you@example.com"
                      class="rounded-lg border border-zinc-300 bg-white px-3 py-2 text-base text-zinc-950 shadow-sm outline-none ring-zinc-400 placeholder:text-zinc-400 focus:border-zinc-400 focus:ring-2 md:text-sm dark:border-zinc-700 dark:bg-zinc-950 dark:text-zinc-50 dark:placeholder:text-zinc-500 dark:focus:border-zinc-500 dark:focus:ring-zinc-600"
                    />
                  </div>
                  <div class="grid gap-1.5">
                    <label
                      for="demo-notes"
                      class="text-sm font-medium text-zinc-900 dark:text-zinc-100"
                    >
                      Notes
                    </label>
                    <textarea
                      id="demo-notes"
                      name="notes"
                      rows="4"
                      placeholder="Anything we should know?"
                      class="resize-y rounded-lg border border-zinc-300 bg-white px-3 py-2 text-base text-zinc-950 shadow-sm outline-none ring-zinc-400 placeholder:text-zinc-400 focus:border-zinc-400 focus:ring-2 md:text-sm dark:border-zinc-700 dark:bg-zinc-950 dark:text-zinc-50 dark:placeholder:text-zinc-500 dark:focus:border-zinc-500 dark:focus:ring-zinc-600"
                    ></textarea>
                  </div>
                  <div class="flex flex-wrap gap-2 pt-2">
                    <button type="submit" class="btn">Save</button>
                    <button
                      type="button"
                      class="btn btn-drawer-secondary"
                      (click)="formDrawerOpen.set(false)"
                    >
                      Cancel
                    </button>
                  </div>
                </form>
              </div>
            </aside>
          }
        </div>

        <div bdDrawerRoot class="contents" [(open)]="floatingOpen" direction="left">
          <button type="button" bdDrawerTrigger class="btn">Floating</button>
          @if (floatingOpen()) {
            <div bdDrawerOverlay class="bg-black/50"></div>
            <aside
              bdDrawerContent
              class="bg-zinc-50 dark:bg-zinc-900 fixed top-2 bottom-2 left-2 rounded-2xl shadow-lg shadow-black/5 ring-1 ring-black/5 dark:ring-white/10 outline-none"
            >
              <div class="p-4 grid gap-4 max-w-xs md:max-w-sm">
                <h2 bdDrawerTitle class="text-2xl font-bold text-zinc-950 dark:text-white">
                  Floating Drawer
                </h2>
                <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                  A floating drawer is a drawer that is not attached to the edge of the screen.
                </p>
              </div>
            </aside>
          }
        </div>

        <div
          bdDrawerRoot
          class="contents"
          [(open)]="scrollableContentOpen"
          direction="bottom"
          [hideBar]="true"
        >
          <button type="button" bdDrawerTrigger class="btn">Scrollable content</button>
          @if (scrollableContentOpen()) {
            <div bdDrawerOverlay class="bg-black/50"></div>
            <div
              bdDrawerContent
              class="bg-zinc-50 dark:bg-zinc-900 fixed bottom-0 left-0 right-0 rounded-t-xl shadow-lg shadow-black/5 ring-1 ring-black/5 dark:ring-white/10 h-[320px] outline-none"
            >
              <div class="p-4 grid gap-4 max-w-lg overflow-y-auto mx-auto">
                <h2 bdDrawerTitle class="text-2xl font-bold text-zinc-950 dark:text-white">
                  Scrollable content
                </h2>
                <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam eaque,
                  sapiente omnis voluptas incidunt officiis pariatur explicabo ipsum, illo voluptate
                  quas distinctio blanditiis corrupti. Ipsa minima velit nam illo.
                </p>
                <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam eaque,
                  sapiente omnis voluptas incidunt officiis pariatur explicabo ipsum, illo voluptate
                  quas distinctio blanditiis corrupti. Ipsa minima velit nam illo.
                </p>
                <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam eaque,
                  sapiente omnis voluptas incidunt officiis pariatur explicabo ipsum, illo voluptate
                  quas distinctio blanditiis corrupti. Ipsa minima velit nam illo.
                </p>
                <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam eaque,
                  sapiente omnis voluptas incidunt officiis pariatur explicabo ipsum, illo voluptate
                  quas distinctio blanditiis corrupti. Ipsa minima velit nam illo.
                </p>
                <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam eaque,
                  sapiente omnis voluptas incidunt officiis pariatur explicabo ipsum, illo voluptate
                  quas distinctio blanditiis corrupti. Ipsa minima velit nam illo.
                </p>
              </div>
            </div>
          }
        </div>

        <div bdDrawerRoot class="contents" [(open)]="hideBarOpen" direction="top" [hideBar]="true">
          <button type="button" bdDrawerTrigger class="btn">Hide bar</button>
          @if (hideBarOpen()) {
            <div bdDrawerOverlay class="bg-black/50"></div>
            <div
              bdDrawerContent
              class="bg-zinc-50 dark:bg-zinc-900 fixed top-0 left-0 right-0 rounded-b-xl shadow-lg shadow-black/5 ring-1 ring-black/5 dark:ring-white/10 h-[320px] outline-none overflow-y-auto"
            >
              <button bdDrawerCloseButton></button>
              <div class="p-4 grid gap-4 max-w-lg overflow-y-auto mx-auto">
                <h2 bdDrawerTitle class="text-2xl font-bold text-zinc-950 dark:text-white">
                  Hide default bar
                </h2>
                <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                  Hide the default bar by setting `[hideBar]="true"` on the drawer root.
                </p>
                <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam eaque,
                  sapiente omnis voluptas incidunt officiis pariatur explicabo ipsum, illo voluptate
                  quas distinctio blanditiis corrupti. Ipsa minima velit nam illo.
                </p>
                <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam eaque,
                  sapiente omnis voluptas incidunt officiis pariatur explicabo ipsum, illo voluptate
                  quas distinctio blanditiis corrupti. Ipsa minima velit nam illo.
                </p>
                <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam eaque,
                  sapiente omnis voluptas incidunt officiis pariatur explicabo ipsum, illo voluptate
                  quas distinctio blanditiis corrupti. Ipsa minima velit nam illo.
                </p>
                <p class="text-zinc-600 dark:text-zinc-300 text-pretty">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus ullam eaque,
                  sapiente omnis voluptas incidunt officiis pariatur explicabo ipsum, illo voluptate
                  quas distinctio blanditiis corrupti. Ipsa minima velit nam illo.
                </p>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>

  <router-outlet />
</main>
