<div class="flex items-center justify-between gap-2 text-[13px] px-0.5 relative">
  <div
    class="absolute bottom-[-8px] left-1 w-full h-px bg-zinc-300/50 dark:bg-zinc-800/80 -z-10"
  ></div>
  <div class="flex items-center gap-4 relative tab" role="tablist" aria-label="Code tabs">
    <button
      type="button"
      class="font-medium cursor-pointer {{
        onTabClick() === 'preview'
          ? 'text-black dark:text-zinc-100'
          : 'text-zinc-600 dark:text-zinc-400'
      }}"
      (click)="onTabClick.set('preview')"
      [attr.data-active]="onTabClick() === 'preview'"
      role="tab"
      [attr.aria-selected]="onTabClick() === 'preview'"
    >
      Preview
    </button>
    <button
      type="button"
      class="font-medium cursor-pointer {{
        onTabClick() === 'code'
          ? 'text-black dark:text-zinc-100'
          : 'text-zinc-600 dark:text-zinc-400'
      }}"
      (click)="onTabClick.set('code')"
      [attr.data-active]="onTabClick() === 'code'"
      role="tab"
      [attr.aria-selected]="onTabClick() === 'code'"
    >
      Code
    </button>
  </div>
  <button
    type="button"
    class="font-medium text-zinc-600 dark:text-zinc-400 cursor-pointer relative _w-34"
    (click)="copyDrawerCodeSource()"
  >
    {{ onCodeCopied() ? 'Copied!' : 'Copy code' }}
    <!-- @if (onCodeCopied()) {
      <span
        class="absolute top-1/2 right-0.5 -translate-y-1/2"
        animate.enter="enter"
        animate.leave="leave"
        >Copied!</span
      >
    } @else {
      <span
        class="absolute top-1/2 left-1/2 -translate-y-1/2"
        [animate.enter]="enterEnabled() ? 'enter' : null"
        animate.leave="leave"
        >Copy code</span
      >
    } -->
  </button>
</div>

@if (onTabClick() === 'preview') {
  <div
    class="landing-page-pre h-80! grid place-items-center w-full font-sans text-zinc-900 dark:text-zinc-100"
    aria-label="Preview"
    role="tabpanel"
    tabindex="0"
  >
    <ng-content></ng-content>
  </div>
} @else {
  <pre
    aria-label="Code"
    role="tabpanel"
    tabindex="0"
    class="landing-page-pre h-80! overflow-y-auto!"
  ><code
    class=" landing-page-code language-typescript dark:text-white!"
    [innerHTML]="drawerCodeSource()"
  ></code></pre>
}
